In [2]:
#Import Dependicies
import pandas as pd
import tensorflow as tf
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from glob import glob

In [3]:
#Getting the Resourse CSVs from the GitRepo
!wget "https://github.com/ParkaviMathi/Road_Safety/blob/main/Resources/2021_data_sa_as_at_20220706%20(2).zip?raw=true" -O "master.zip"

--2022-12-12 13:02:09--  https://github.com/ParkaviMathi/Road_Safety/blob/main/Resources/2021_data_sa_as_at_20220706%20(2).zip?raw=true
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/ParkaviMathi/Road_Safety/raw/main/Resources/2021_data_sa_as_at_20220706%20(2).zip [following]
--2022-12-12 13:02:10--  https://github.com/ParkaviMathi/Road_Safety/raw/main/Resources/2021_data_sa_as_at_20220706%20(2).zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/ParkaviMathi/Road_Safety/main/Resources/2021_data_sa_as_at_20220706%20(2).zip [following]
--2022-12-12 13:02:10--  https://raw.githubusercontent.com/ParkaviMathi/Road_Safety/main/Resources/2021_data_sa_as_at_20220706%20(2).zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11447877 (11M) [application/zip]
Saving to: ‘master.zip’

master.zip          100%[===================>]  10.92M  --.-KB/s    in 0.08s

2022-12-12 13:02:10 (134 MB/s) - ‘master.zip’ saved [11447877/11447877]

In [4]:
#Unzipping the master zip file
!unzip "master.zip"

Archive:  master.zip
 extracting: 2012_data_sa_as_at_20210527.zip
 extracting: 2013_data_sa_as_at_20210527.zip
 extracting: 2014_data_sa_as_at_20210527.zip
 extracting: 2015_data_sa_as_at_20210527.zip
 extracting: 2016_data_sa_as_at_20210527.zip
 extracting: 2017_data_sa_as_at_20210527.zip
 extracting: 2018_data_sa_as_at_20210527.zip
 extracting: 2019_data_sa_as_at_20210527.zip
 extracting: 2020_data_sa_as_at_20210527.zip
 extracting: 2021_data_sa_as_at_20220706.zip

In [5]:
#Unzipping the crash CSV for 2012 to 2021
for zip_file in glob("*_data_sa_as_at_*.zip"):
  # print(zip_file)
  !unzip {zip_file}

Archive:  2021_data_sa_as_at_20220706.zip
  inflating: 2021_DATA_SA_Units.csv
  inflating: 2021_DATA_SA_Casualty.csv
  inflating: 2021_DATA_SA_Crash.csv
Archive:  2016_data_sa_as_at_20210527.zip
  inflating: 2016_DATA_SA_Casualty.csv
  inflating: 2016_DATA_SA_Crash.csv
  inflating: 2016_DATA_SA_Units.csv
Archive:  2013_data_sa_as_at_20210527.zip
  inflating: 2013_DATA_SA_Casualty.csv
  inflating: 2013_DATA_SA_Crash.csv
  inflating: 2013_DATA_SA_Units.csv
Archive:  2014_data_sa_as_at_20210527.zip
  inflating: 2014_DATA_SA_Casualty.csv
  inflating: 2014_DATA_SA_Crash.csv
  inflating: 2014_DATA_SA_Units.csv
Archive:  2018_data_sa_as_at_20210527.zip
  inflating: 2018_DATA_SA_Casualty.csv
  inflating: 2018_DATA_SA_Crash.csv
  inflating: 2018_DATA_SA_Units.csv
Archive:  2017_data_sa_as_at_20210527.zip
  inflating: 2017_DATA_SA_Casualty.csv
  inflating: 2017_DATA_SA_Crash.csv
  inflating: 2017_DATA_SA_Units.csv
Archive:  2015_data_sa_as_at_20210527.zip
  inflating: 2015_DATA_SA_Casualty.csv
  inflating: 2015_DATA_SA_Crash.csv
  inflating: 2015_DATA_SA_Units.csv
Archive:  2012_data_sa_as_at_20210527.zip
  inflating: 2012_DATA_SA_Casualty.csv
  inflating: 2012_DATA_SA_Crash.csv
  inflating: 2012_DATA_SA_Units.csv
Archive:  2019_data_sa_as_at_20210527.zip
  inflating: 2019_DATA_SA_Casualty.csv
  inflating: 2019_DATA_SA_Crash.csv
  inflating: 2019_DATA_SA_Units.csv
Archive:  2020_data_sa_as_at_20210527.zip
  inflating: 2020_DATA_SA_Casualty.csv
  inflating: 2020_DATA_SA_Crash.csv
  inflating: 2020_DATA_SA_Units.csv

In [6]:
#Removing the Zip files
!rm *.zip

In [7]:
#Creating a Datafram for data in all crash CSV files fro 2012 to 2021
crash_df = None
for file_name in glob("*_Crash.csv"):
  current_df = pd.read_csv(file_name)
  if crash_df is None:
    crash_df = current_df
  else:
    crash_df = pd.concat([crash_df, current_df], ignore_index=True)
crash_df = crash_df.fillna(0)
crash_df

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
0,2014-1-27/05/2021,2 Metropolitan,MODBURY,5092,CITY OF TEA TREE GULLY,2,0,0,0,0,...,Head On,1,Driver Rider,1: PDO,No Control,0,0,1336261.56,1680322.59,1.336262e+13
1,2014-2-27/05/2021,2 Metropolitan,NEWTON,5074,CC CAMPBELLTOWN.,2,1,0,0,1,...,Rear End,2,Driver Rider,2: MI,Traffic Signals,0,0,1335409.35,1674554.22,1.335409e+13
2,2014-3-27/05/2021,1 City,NORTH ADELAIDE,5006,CITY OF ADELAIDE,2,1,0,0,1,...,Rear End,1,Driver Rider,2: MI,Traffic Signals,0,0,1328087.06,1673327.96,1.328087e+13
3,2014-4-27/05/2021,1 City,NORTH ADELAIDE,5006,CITY OF ADELAIDE,3,0,0,0,0,...,Rear End,1,Driver Rider,1: PDO,No Control,0,0,1329685.53,1672762.47,1.329686e+13
4,2014-5-27/05/2021,2 Metropolitan,GOLDEN GROVE,5125,CITY OF TEA TREE GULLY,2,0,0,0,0,...,Hit Fixed Object,1,Driver Rider,1: PDO,No Control,0,0,1338479.38,1684852.95,1.338479e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152349,2015-15427-27/05/2021,2 Metropolitan,ST MARYS,5042,CC MITCHAM.,2,1,0,0,1,...,Rear End,2,Driver Rider,2: MI,No Control,0,0,1325999.80,1661666.82,1.326000e+13
152350,2015-15428-27/05/2021,1 City,ADELAIDE,5000,CITY OF ADELAIDE,2,1,0,0,1,...,Rear End,2,Driver Rider,2: MI,Traffic Signals,0,0,1327373.53,1670801.56,1.327374e+13
152351,2015-15429-27/05/2021,3 Country,ALAWOONA,5311,LOXTON WAIKERIE DISTRICT COUNCIL,2,1,0,0,1,...,Hit Fixed Object,1,Driver Rider,2: MI,No Control,0,0,1502584.60,1684439.81,1.502585e+13
152352,2015-15430-27/05/2021,1 City,NORTH ADELAIDE,5006,CITY OF ADELAIDE,2,1,0,0,1,...,Side Swipe,2,Driver Rider,2: MI,No Control,0,0,1328931.17,1672068.14,1.328931e+13
152353,2015-15431-27/05/2021,1 City,ADELAIDE,5000,CITY OF ADELAIDE,2,1,0,0,1,...,Hit Pedestrian,2,Pedestrian,2: MI,No Control,0,0,1327528.54,1670160.79,1.327529e+13

In [ ]:
# Export our model to HDF5 file
#from google.colab import files

#crash_df.to_csv('/content/combined_crash.csv')
#files.download('/content/combined_crash.csv')

In [8]:
#Creating connection to a relational database
import sqlite3
conn = sqlite3.connect('crash_db.sqlite')
crash_df.to_sql('crash_table', conn, if_exists='replace', index=False)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [9]:
#Retreving the data from SQLite
import sqlite3
conn = sqlite3.connect('crash_db.sqlite')
crash_df = pd.read_sql('select * from crash_table', conn)

In [9]:
crash_df.head()

,REPORT_ID,Stats Area,Suburb,Postcode,LGA Name,Total Units,Total Cas,Total Fats,Total SI,Total MI,...,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,ACCLOC_X,ACCLOC_Y,UNIQUE_LOC
0,2014-1-27/05/2021,2 Metropolitan,MODBURY,5092,CITY OF TEA TREE GULLY,2,0,0,0,0,...,Head On,1,Driver Rider,1: PDO,No Control,0,0,1336261.56,1680322.59,1.336262e+13
1,2014-2-27/05/2021,2 Metropolitan,NEWTON,5074,CC CAMPBELLTOWN.,2,1,0,0,1,...,Rear End,2,Driver Rider,2: MI,Traffic Signals,0,0,1335409.35,1674554.22,1.335409e+13
2,2014-3-27/05/2021,1 City,NORTH ADELAIDE,5006,CITY OF ADELAIDE,2,1,0,0,1,...,Rear End,1,Driver Rider,2: MI,Traffic Signals,0,0,1328087.06,1673327.96,1.328087e+13
3,2014-4-27/05/2021,1 City,NORTH ADELAIDE,5006,CITY OF ADELAIDE,3,0,0,0,0,...,Rear End,1,Driver Rider,1: PDO,No Control,0,0,1329685.53,1672762.47,1.329686e+13
4,2014-5-27/05/2021,2 Metropolitan,GOLDEN GROVE,5125,CITY OF TEA TREE GULLY,2,0,0,0,0,...,Hit Fixed Object,1,Driver Rider,1: PDO,No Control,0,0,1338479.38,1684852.95,1.338479e+13

In [10]:
#Get Dtype for the Column variables
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152354 entries, 0 to 152353
Data columns (total 33 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   REPORT_ID         152354 non-null  object
 1   Stats Area        152354 non-null  object
 2   Suburb            152354 non-null  object
 3   Postcode          152354 non-null  int64
 4   LGA Name          152354 non-null  object
 5   Total Units       152354 non-null  int64
 6   Total Cas         152354 non-null  int64
 7   Total Fats        152354 non-null  int64
 8   Total SI          152354 non-null  int64
 9   Total MI          152354 non-null  int64
 10  Year              152354 non-null  int64
 11  Month             152354 non-null  object
 12  Day               152354 non-null  object
 13  Time              152354 non-null  object
 14  Area Speed        152354 non-null  int64
 15  Position Type     152354 non-null  object
 16  Horizontal Align  152354 non-null  object
 17  Vertical Align    152354 non-null  object
 18  Other Feat        152354 non-null  object
 19  Road Surface      152354 non-null  object
 20  Moisture Cond     152354 non-null  object
 21  Weather Cond      152354 non-null  object
 22  DayNight          152354 non-null  object
 23  Crash Type        152354 non-null  object
 24  Unit Resp         152354 non-null  int64
 25  Entity Code       152354 non-null  object
 26  CSEF Severity     152354 non-null  object
 27  Traffic Ctrls     152354 non-null  object
 28  DUI Involved      152354 non-null  object
 29  Drugs Involved    152354 non-null  object
 30  ACCLOC_X          152354 non-null  float64
 31  ACCLOC_Y          152354 non-null  float64
 32  UNIQUE_LOC        152354 non-null  float64
dtypes: float64(3), int64(9), object(21)
memory usage: 38.4+ MB

In [11]:
#Get no of unique values in each column
crash_df.nunique()

REPORT_ID           152354
Stats Area               3
Suburb                1670
Postcode               383
LGA Name                72
Total Units             13
Total Cas               11
Total Fats               5
Total SI                 8
Total MI                11
Year                    10
Month                   12
Day                      7
Time                  1431
Area Speed              14
Position Type           16
Horizontal Align         4
Vertical Align           5
Other Feat               9
Road Surface             3
Moisture Cond            3
Weather Cond             3
DayNight                 2
Crash Type              13
Unit Resp                6
Entity Code              6
CSEF Severity            4
Traffic Ctrls           10
DUI Involved             2
Drugs Involved           2
ACCLOC_X             89371
ACCLOC_Y             89784
UNIQUE_LOC           88957
dtype: int64

In [12]:
#Coulumn names in the Dataframe
crash_df.columns

Index(['REPORT_ID', 'Stats Area', 'Suburb', 'Postcode', 'LGA Name',
       'Total Units', 'Total Cas', 'Total Fats', 'Total SI', 'Total MI',
       'Year', 'Month', 'Day', 'Time', 'Area Speed', 'Position Type',
       'Horizontal Align', 'Vertical Align', 'Other Feat', 'Road Surface',
       'Moisture Cond', 'Weather Cond', 'DayNight', 'Crash Type', 'Unit Resp',
       'Entity Code', 'CSEF Severity', 'Traffic Ctrls', 'DUI Involved',
       'Drugs Involved', 'ACCLOC_X', 'ACCLOC_Y', 'UNIQUE_LOC'],
      dtype='object')

In [13]:
#Cleaned dataframe with unwanted columns removed
crash_df_filtered_1 = crash_df[['Stats Area', 'Month', 'Day', 'Time', 'Area Speed', 'Position Type',
       'Horizontal Align', 'Vertical Align', 'Other Feat', 'Road Surface',
       'Moisture Cond', 'Weather Cond', 'DayNight', 'Crash Type', 'Unit Resp',
       'Entity Code', 'CSEF Severity', 'Traffic Ctrls', 'DUI Involved',
       'Drugs Involved']]

In [14]:
#Cleaned Dataframe
crash_df_filtered_1.head()

,Stats Area,Month,Day,Time,Area Speed,Position Type,Horizontal Align,Vertical Align,Other Feat,Road Surface,Moisture Cond,Weather Cond,DayNight,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved
0,2 Metropolitan,January,Thursday,05:00 pm,50,Not Divided,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Head On,1,Driver Rider,1: PDO,No Control,0,0
1,2 Metropolitan,January,Saturday,11:21 am,60,Cross Road,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Rear End,2,Driver Rider,2: MI,Traffic Signals,0,0
2,1 City,January,Tuesday,07:50 am,50,Cross Road,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Rear End,1,Driver Rider,2: MI,Traffic Signals,0,0
3,1 City,January,Tuesday,03:45 pm,60,Not Divided,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Rear End,1,Driver Rider,1: PDO,No Control,0,0
4,2 Metropolitan,January,Wednesday,11:00 am,50,Not Divided,Straight road,Slope,Driveway or Entrance,Sealed,Dry,Not Raining,Daylight,Hit Fixed Object,1,Driver Rider,1: PDO,No Control,0,0

In [15]:
#Unique values in cleaned Dataframe coulmns
crash_df_filtered_1.nunique()

Stats Area             3
Month                 12
Day                    7
Time                1431
Area Speed            14
Position Type         16
Horizontal Align       4
Vertical Align         5
Other Feat             9
Road Surface           3
Moisture Cond          3
Weather Cond           3
DayNight               2
Crash Type            13
Unit Resp              6
Entity Code            6
CSEF Severity          4
Traffic Ctrls         10
DUI Involved           2
Drugs Involved         2
dtype: int64

In [16]:
#Finding the number of unique values in Target Column
crash_df_filtered_1['CSEF Severity'].unique()

array(['1: PDO', '2: MI', '3: SI', '4: Fatal'], dtype=object)

In [17]:
# encoding string values into numeric values
CSEF_Severity_dict = {'4: Fatal': 0, '1: PDO': 1, '2: MI':2, '3: SI':3,}
crash_df_filtered_1 = crash_df_filtered_1.replace({'CSEF Severity': CSEF_Severity_dict})

In [18]:
#Converting Dtype of 'Time' variable from Object to Datetime
crash_df_filtered_1 ['Time'] = pd.to_datetime(crash_df_filtered_1['Time'])

In [19]:
#Changing the format of the 'Time' column from 12Hrs to 24Hrs and assigning it to a new Column 'date_formated'
crash_df_filtered_1['date_formated']=crash_df_filtered_1['Time'].dt.strftime('%H').astype('str')

In [20]:
#Finding the number of unique values in the converted 'date_formated' column
crash_df_filtered_1 ['date_formated'].unique()

array(['17', '11', '07', '15', '10', '12', '03', '14', '09', '16', '13',
       '18', '20', '01', '19', '08', '05', '06', '23', '00', '04', '21',
       '22', '02'], dtype=object)

In [21]:
#Dropping the 'Time' column fromthe Dataframe
crash_df_filtered_1=crash_df_filtered_1.drop('Time', axis=1)

In [22]:
#Dataframe with the new Column 'date_formated'
crash_df_filtered_1.head()

,Stats Area,Month,Day,Area Speed,Position Type,Horizontal Align,Vertical Align,Other Feat,Road Surface,Moisture Cond,Weather Cond,DayNight,Crash Type,Unit Resp,Entity Code,CSEF Severity,Traffic Ctrls,DUI Involved,Drugs Involved,date_formated
0,2 Metropolitan,January,Thursday,50,Not Divided,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Head On,1,Driver Rider,1,No Control,0,0,17
1,2 Metropolitan,January,Saturday,60,Cross Road,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Rear End,2,Driver Rider,2,Traffic Signals,0,0,11
2,1 City,January,Tuesday,50,Cross Road,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Rear End,1,Driver Rider,2,Traffic Signals,0,0,07
3,1 City,January,Tuesday,60,Not Divided,Straight road,Level,Not Applicable,Sealed,Dry,Not Raining,Daylight,Rear End,1,Driver Rider,1,No Control,0,0,15
4,2 Metropolitan,January,Wednesday,50,Not Divided,Straight road,Slope,Driveway or Entrance,Sealed,Dry,Not Raining,Daylight,Hit Fixed Object,1,Driver Rider,1,No Control,0,0,11

In [23]:
#One-Hot Encoding the Column Variables
ohe_columns = ['Stats Area', 'Month', 'Day', 'date_formated', 'Position Type',
       'Horizontal Align', 'Vertical Align', 'Other Feat', 'Road Surface',
       'Moisture Cond', 'Weather Cond', 'DayNight', 'Crash Type',
       'Entity Code','CSEF Severity', 'Traffic Ctrls', 'DUI Involved',
       'Drugs Involved']      
ohe_df = pd.get_dummies(crash_df_filtered_1, columns=ohe_columns)

In [24]:
#Number of columns after One-Hot Encoding
len(ohe_df.columns)

130

In [25]:
#One-Hot Encoded Columns
ohe_df.columns

Index(['Area Speed', 'Unit Resp', 'Stats Area_1 City',
       'Stats Area_2 Metropolitan', 'Stats Area_3 Country', 'Month_April',
       'Month_August', 'Month_December', 'Month_February', 'Month_January',
       ...
       'Traffic Ctrls_Rail Xing - Flashing',
       'Traffic Ctrls_Rail Xing - No Control',
       'Traffic Ctrls_Rail Xing-Traffic Signals', 'Traffic Ctrls_Roundabout',
       'Traffic Ctrls_Stop Sign', 'Traffic Ctrls_Traffic Signals',
       'DUI Involved_0', 'DUI Involved_Y', 'Drugs Involved_0',
       'Drugs Involved_Y'],
      dtype='object', length=130)

In [26]:
#Ohe Datframe
ohe_df.head()

,Area Speed,Unit Resp,Stats Area_1 City,Stats Area_2 Metropolitan,Stats Area_3 Country,Month_April,Month_August,Month_December,Month_February,Month_January,...,Traffic Ctrls_Rail Xing - Flashing,Traffic Ctrls_Rail Xing - No Control,Traffic Ctrls_Rail Xing-Traffic Signals,Traffic Ctrls_Roundabout,Traffic Ctrls_Stop Sign,Traffic Ctrls_Traffic Signals,DUI Involved_0,DUI Involved_Y,Drugs Involved_0,Drugs Involved_Y
0,50,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
1,60,2,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,1,0
2,50,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,1,0,1,0
3,60,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
4,50,1,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0

In [27]:
# Split our preprocessed data into our features and target arrays
y = ohe_df[[col for col in ohe_df if col.startswith("CSEF Severity_")]].values

# drop 'Total Fats', 'Total SI', 'Total MI'
X = ohe_df.drop([col for col in ohe_df if col.startswith("CSEF Severity_")], axis=1).values
X

array([[ 50,   1,   0, ...,   0,   1,   0],
       [ 60,   2,   0, ...,   0,   1,   0],
       [ 50,   1,   1, ...,   0,   1,   0],
       ...,
       [110,   1,   0, ...,   0,   1,   0],
       [ 50,   2,   1, ...,   0,   1,   0],
       [ 50,   2,   1, ...,   0,   1,   0]])

In [28]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [30]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=16
hidden_nodes_layer3=16
nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(4, activation='softmax'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 1016

 dense_1 (Dense)             (None, 16)                144

 dense_2 (Dense)             (None, 4)                 68

=================================================================
Total params: 1,228
Trainable params: 1,228
Non-trainable params: 0
_________________________________________________________________

In [37]:
# Compile the model
nn.compile(loss = tf.keras.losses.CategoricalCrossentropy(), optimizer = tf.keras.optimizers.Adam(learning_rate=0.001), metrics=['accuracy'])

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_data=(X_test_scaled,y_test), epochs=10)

Epoch 1/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7170 - accuracy: 0.6850 - val_loss: 0.7258 - val_accuracy: 0.6827
Epoch 2/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7168 - accuracy: 0.6850 - val_loss: 0.7265 - val_accuracy: 0.6820
Epoch 3/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7168 - accuracy: 0.6853 - val_loss: 0.7267 - val_accuracy: 0.6832
Epoch 4/10
3571/3571 [==============================] - 9s 2ms/step - loss: 0.7166 - accuracy: 0.6852 - val_loss: 0.7264 - val_accuracy: 0.6831
Epoch 5/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7167 - accuracy: 0.6853 - val_loss: 0.7256 - val_accuracy: 0.6833
Epoch 6/10
3571/3571 [==============================] - 9s 2ms/step - loss: 0.7162 - accuracy: 0.6855 - val_loss: 0.7262 - val_accuracy: 0.6823
Epoch 7/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7163 - accuracy: 0.6853 - val_loss: 0.7262 - val_accuracy: 0.6826
Epoch 8/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7162 - accuracy: 0.6847 - val_loss: 0.7262 - val_accuracy: 0.6826
Epoch 9/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7160 - accuracy: 0.6854 - val_loss: 0.7264 - val_accuracy: 0.6812
Epoch 10/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7159 - accuracy: 0.6851 - val_loss: 0.7271 - val_accuracy: 0.6822

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1191/1191 - 1s - loss: 0.7257 - accuracy: 0.6836 - 1s/epoch - 1ms/step
Loss: 0.7257111668586731, Accuracy: 0.6835569143295288

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=8
hidden_nodes_layer2=16
hidden_nodes_layer3=16
nn = tf.keras.models.Sequential()


# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=4, activation='softmax'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 1016

 dense_4 (Dense)             (None, 16)                144

 dense_5 (Dense)             (None, 16)                272

 dense_6 (Dense)             (None, 4)                 68

=================================================================
Total params: 1,500
Trainable params: 1,500
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the model
nn.compile(loss = tf.keras.losses.CategoricalCrossentropy(), optimizer = tf.keras.optimizers.Adam(learning_rate=0.001), metrics=['accuracy'])

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_data=(X_test_scaled,y_test), epochs=10)

Epoch 1/10
3571/3571 [==============================] - 9s 2ms/step - loss: 0.7626 - accuracy: 0.6701 - val_loss: 0.7336 - val_accuracy: 0.6799
Epoch 2/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7312 - accuracy: 0.6817 - val_loss: 0.7286 - val_accuracy: 0.6823
Epoch 3/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7276 - accuracy: 0.6826 - val_loss: 0.7269 - val_accuracy: 0.6833
Epoch 4/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7252 - accuracy: 0.6833 - val_loss: 0.7254 - val_accuracy: 0.6835
Epoch 5/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7241 - accuracy: 0.6832 - val_loss: 0.7263 - val_accuracy: 0.6832
Epoch 6/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7227 - accuracy: 0.6838 - val_loss: 0.7260 - val_accuracy: 0.6830
Epoch 7/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7221 - accuracy: 0.6840 - val_loss: 0.7249 - val_accuracy: 0.6832
Epoch 8/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7214 - accuracy: 0.6841 - val_loss: 0.7281 - val_accuracy: 0.6835
Epoch 9/10
3571/3571 [==============================] - 9s 3ms/step - loss: 0.7210 - accuracy: 0.6840 - val_loss: 0.7252 - val_accuracy: 0.6832
Epoch 10/10
3571/3571 [==============================] - 8s 2ms/step - loss: 0.7205 - accuracy: 0.6844 - val_loss: 0.7251 - val_accuracy: 0.6831

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

1191/1191 - 1s - loss: 0.7251 - accuracy: 0.6831 - 1s/epoch - 1ms/step
Loss: 0.7250788807868958, Accuracy: 0.6831368803977966